<h1>Add course </h1>

<%# this is the new syntax%>
<%# form_with(model: @course, local: true) do |f| %> 
<%= form_for @course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, placeholder: 'Name' %>
  <%= f.submit %>
<% end %>